html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

main {
  display: flex;
  gap: 5rem;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.menu button {
  padding: 1rem 5rem;
  transition: transform 0.2s;
  cursor: pointer;
}

.menu button.active {
  background-color: black;
  color: white;
}

.menu button:hover {
  transform: scale(1.25);
}

h1 {
  font-size: 3rem;
}

footer {
  margin-top: 2rem;
  font-size: 2rem;
}

#square-container {
  height: 50.2rem;
  width: 50.2rem;
  display: flex;
  flex-wrap: wrap;
}

button,
#square-container {
  border: 0.5px solid #141414;
  box-shadow: 0 0 5px 5px #141414;
  border-radius: 1rem;
}

.black {
  background-color: black;
}

.checkboxSection {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
}

.toggleText {
  font-size: 2rem;
}

#toggle {
  height: 3rem;
  width: 3rem;
}

#sliderText {
  font-size: 2rem;
  font-weight: bold;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #a4a4a4;
  outline: none;
  opacity: 0.9;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}
